<%= form_with model: @daily_activity do |form| %>
  <div>
    <%= form.label :Duration %>
    <%= form.number_field :duration %>

    <%= form.label :Set %>
    <%= form.number_field :set %>

    <div>
        <%= form.label :sporty_type_id, "Sport" %>
        <%= form.collection_select :sporty_type_id, @sporty_types, :id, :name, prompt: "Select a sport" %>
    </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>